# Configurações locais e segredos
.env

# Arquivos gerados por scripts
*.xlsx
*.csv
*.pdf

# Pastas de ambiente virtual do Python
venv/
.venv/
env/
__pycache__/
*.pyc

# Configurações de editores (VS Code / PyCharm)
.vscode/
.idea/
